<html>
<head><title>gladis.org</title>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6092819-2");
pageTracker._trackPageview();
} catch(err) {}</script>
</head>
<body>
<h1>gladis.org</h1>

<p>Willkommen auf meiner Seite. Dieser Webauftritt wird gerade neu entwickelt. Schauen Sie bald wieder vorbei. Evtl. k&ouml;nnten Sie folgende Seiten interessieren:</p>

<ul>
<li><a href="http://olafinmexico.blogspot.com">Olaf in Mexico Blog</a></li>
<li><a href="http://picasaweb.google.com/OlafGladis">Nice Pictures from Mexico</a></li>
<li><a href="http://wilsonfontein.de">Jagen in Namibia</a></li>
<li><a href="http://blog.fefe.de">Interessanter Nachrichtenblog</a></li>
</ul>
</body>
</html>
